<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	BA2UFznLg5xBLrKnvjXPiSl83/eHteig/473yLVBCYcb1jcNCEHutiFXWZy8XmvXOTjD
	uZEachJXMXZohaWNOOk9eRNxXwKmqHDb8vTqUiICmyvWsXaokU35Y41IhJFhbiz7CI9n
	H+5U4CQenMFSDzdJ3TQ+ZAuuLDolyXpeVFY=
	</data>
</dict>
</plist>
