<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	iZSq9dyLklIXNqT6KPHjFxAYCROkgqWRibIe6ufMpkT2MMI1BH/BuOzWZ06+LhWMlMsA
	jXQ+/RY2Jkn9ojxtBEDfRHBx5EocVSFcyabCuIY3MFjo8nDZksijOrhhJggxYSAeHy7o
	YPTttpERQ2vA5PMUUmYkZux5E4tonUNDc8Q=
	</data>
</dict>
</plist>
