<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	lcS5no6cMcRQHNtEgkD/g0UNSwIMbMemZzTY67m98d3awjo1mYpAGfxRUGTHE7SqCqkO
	M2t8cCVOXnaqqTYGkFCnQWq9FAqYr/jRM1cDbR7G7QZBa14Kx8f3foQ1pAPvWHtiE35I
	Ebr5MeluuPhrfNGZ7AuOVTGfYX+CzjgA8pA=
	</data>
</dict>
</plist>
