<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	m6YgDoDYIAUqwhuV3Zi2lbdkQquQLwZy6qiH/nEsGcCw8xouruUNQsrAPgycHZgCYLNt
	iHMt6eLM9E4lAuTqoIJsCXAa/s3eymC9Va3QnRW02XdiAc6PLDWpyoAzvJdcGRq8QnDr
	vI1l3i4pulcDJLBl/XQhUWbFp1blh/ubs8k=
	</data>
</dict>
</plist>
