<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	V7yNKTY6eySPjYVv/unucNgicUphSVxAGF3uBsBHtOkxniSmPdCcO3Hs2EQTsx0z6/+5
	+PFHgzyFAYLVm6t85Mr8zWFLWliXHZYHzTbr/7NpWPlhP2mEbDvmiMoS9D1YpxJApT81
	++YUtBZ4oQx2HGrWtXHjOfnLxHif8zimA5s=
	</data>
</dict>
</plist>
