<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	A02vl5AgUFvZvzj1Y32oo7gJa+Kekw01al6KURoir1lEm7CFSrzA2BnCKuRM7iuW+CDd
	tm/LOXJEJT/hyanpBMvCNFtZlcY1TShUbx+fRsn8SwSxXCKTEULEsOn3CcbH/PReei83
	MwuQmijp3T+VqfDfjDOnJTVDQnPS3jS/7Ls=
	</data>
</dict>
</plist>
