<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	bd2cg1EHfZBohzIBu0Wqh1KmHpNFeIcwLnE66/9kCTVe2pK27weWfWNjgGaD6T2HqPg5
	ikLcOOkEmtD5lo6+Gi3DAqFxwmZorxp8wT3Nmb2erXCZK2v35Gv3ESDzj4y/FY8fyKsQ
	dvJB7kV0+LAFt5/CXp3s1u2VF2/oR1YsgKQ=
	</data>
</dict>
</plist>
