<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	J1nJSPWnmxr4NtsIE04Cu/jowgmnn+A+gZCNzuxTIXr0bIPDRT98oCy+ul1Vh62qBh1K
	9eoSNbDwh40keUgfqJ+/Gk0pRS8npImJzl4DFh/CHaU2MLlHeV9UytWZUqIs+QyKSIq0
	JcmEi7wh9+PWu1dN2CGORXZsCjCvnMAvsyw=
	</data>
</dict>
</plist>
