<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	JzrZf+1YYjZY7Eifi5HYiPpf3RE2MXkR+zfn3U4J9wGNw2qU8cj6ah+UVW43brh2x6Bj
	go6GgG17yEVJxkznwNx8SWiAUmJlucAiP5jhUO8a8PCD/43+529TNlAEocLWKQv5WjTb
	hV5iRkhSLimr1SOg8IE9GXZ4K1J+vghHY6s=
	</data>
</dict>
</plist>
