<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	pIftsyHox0oqjm0vpFf8Qe/Xby2t7KW8fQ8PKtDwYeY+1ylW/paQ6BG0NUC8MF0SoHLi
	Ztz0gNsyizf9LHuJqJa9cvmfRkHAMliz1az2EzOYQpDtr/nNfAvxBWUeAgFdvOT3qlRQ
	ChsDnpyQtr9IAdVbP3kKow+m9I6q6hIbjjU=
	</data>
</dict>
</plist>
