<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	tp7KaST9JsBU7xNxkykHYPqGevVYjko7s0r4XA5A545q8igc65TCDJNf1+8QkC682GF6
	uOdDlJoGMpabWUKRzkdIKKuBJMTLSa8P3byoSffSqxYnlHApVlOZxtSgoIcEK7Wyef+3
	aXMH+R1dBr9dTEBr5AbyzSN0gawUgKNd4Ek=
	</data>
</dict>
</plist>
