<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	FmpUfq+OoRSpueU2EByuYbMRtBgxYZrAVG/kNf0jdd/Xr6I6HXKZrZpNhoy2NfcnPth3
	6J3AK9P8aDqzwKDEy34IuHgOD2DFJkp3GcAd2fLyBGykX4PzSV4YaA4k4Ni1oQlIjF1R
	l2di6fLKTTK8+ipVs2GNwPGW2GsOEiJEP0w=
	</data>
</dict>
</plist>
