<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	iTnklU2jKcAhpC/znMycveU9zZVDyRjtgKfef/VmBFTgyfngqQLoR0thu55yWiSbdxCT
	QqZYX8mAgprQwBc82TKmNqjBdGpuODKX92dvp2F4/cz4b3Q/j0EsRgPFSxbYnPeGpKzR
	Wi9cBAKl/1DKjlLfKMnVlw+qWkgUDjjaN6w=
	</data>
</dict>
</plist>
