<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	f2i+CIBm5ys33JVWvHUdCPtPhh0yIz3ZJCkfd0SqqndqgCgk2Q8Vdyn9odp6ZHIvCpw4
	K+ANVL2JRhiI2lFnsfHUZVXNYNx9iddJLtdM4dI3jdSWyGwlDw7FaIBcQGjkOzYh04VO
	+c2JMBKh3zBW9GofWebs5AncNklTgHvBhIU=
	</data>
</dict>
</plist>
