<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	pVmWkHgNCdOV8lyuYO/a1g67JV1uNkdcR78EBLLjakSDxdQVTN98maPAhuk4i7nZK788
	4DKDhNeDkaTi+DjscKpR2gor3gy1clf5B20U8KMDPM8OzIntm5oZGG1472Y0P3KidGnO
	0XLDqE35iiaiHpvCFwZ+O8u4uRBCznG+Q/w=
	</data>
</dict>
</plist>
