<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	t0trcfW7jvtNX/UuJ+3eoh2HonmBWSjs3d7VejXsfnHKxtbb7CbNl5KGEDGcInhdUdoU
	Rvy4k7/DsRerusp3qdS3GcHut/1jqwGKbfMpkmlidxwG6t+64HFb8l4IBZATox7sOEU8
	UcMJlEHlvwutcvy3tp2fS4oVunNhDiBUvuk=
	</data>
</dict>
</plist>
