<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	pVDVKkYXbhvREobQq3bzuavcSkEKeRpQxl/URnG7k+ngMRkQkv5RaNC0pVrUcxoKjIQ4
	o0iwjrqbKS2KBSbEJLMp3QtHuAiufxYtkNalRuxdWHjPsg06/3131+3rO6Uclg3grqw6
	u53zmhiXmybj8fne1jameJZcTPzKguLHJtg=
	</data>
</dict>
</plist>
