<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	JVRmrt0NNZ7ZMboKdkteagLD4BjQRc2PoMyHMAfoRKk7FTiU7HmajtH4G/Pl7YeFr+Qn
	6PDLh/4L9c0jacsYNCoMI+KTnSRhHyW6smes4y2fYlUtuxEneAw6gwL2nBZslBQm0Hy0
	Jk0QQbdQ4CllIh/sZDooFzKkb8UvthuRdv0=
	</data>
</dict>
</plist>
