<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	g9O60fO4gvMAy5y3BYziQaTuRU8Dz1bxb5lwsBx1Mht4sRj3fBh3zk8cB34tZU+5mUUP
	ivslhzPpfaVyUhfrvaJCRd2dFM0O6hmAkvcr1qrO6+Pp+3kgwGe+McfiLyUfKLoCzo7D
	+dndK7qNJwxUY4JbL1WvzB96wet6VT1BQS0=
	</data>
</dict>
</plist>
