<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	bp9kscp9M19WvFAUb6JPXIjj4i7Uc6QDJMUxp0+K82dB2gdF7cpyBozzOqy293ue4jlL
	G12P6bDGfvvnNM3dfwNDT832ESgQD6LW4B4mHQthcS5yhnnX2dXrYvMSKC4VnAX9Txev
	a2KNdFDNFU3ZjYnS/tKhMVFVT3yw0QRy1R8=
	</data>
</dict>
</plist>
