<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	NxjoAkPm5VQ1zT2YVjKBjyRsrtEhTCm4GvNjv1/755hhXpkDgT6/0mN9dCG9UKn0ZOwU
	CcqtLNWnz3E+0+Wm1UNrBcMbpMLO8d5m6ZE96ezMwigfFsE2KdQbFOP45Z4EHswfXHBL
	4ADRqpDMyBU5X+lDhVuT6QnnKYaxebY6sY8=
	</data>
</dict>
</plist>
