<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	fBbmU+6P3620jCjXcnspaH/nXgn6hMS30iKwApJApeQishulKMPNRmTG8vVUPBf9EpT1
	pzvpQMyEa2V5qq0lCuqfOwPAxs3AALq+4rt2j4rb3f+Bm1HcOQn62CQn2svAe00TsoWL
	qVBh8weiXf0CUyvHI4MLPjI6DoXhI6yQb/M=
	</data>
</dict>
</plist>
