<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	nJn4lJ9iA52eMsjbmXq2uqjiJVjjGpwBIoWZiVKA9oqurgaxhVgNv94w8Ze6B/7mfbZt
	VCSoepDTUPv2Cxbx+VAtxjizOOStXgDlmVkdMjXW67yaEDMZjvTMeQCKLUR35TwUxwBo
	aI5TUQULPgindZLjC74DB4shGXdcf4utw5g=
	</data>
</dict>
</plist>
