<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	LbrnG6QVrh4r5OXEXGGjwkgqSkkBV1fuR8NXed3SRy/MtZMAqAscoF/XSPcpRaBwgxSA
	CViu9PdrK8HV+BscwmW3LSBNvLCAimyJ8OB8tt7NjOhPEUeoC/nwP9JfTzqPmdMBBBXu
	lcwnQs2y2BJ6b79CZPGu1nSKTcezQ/ri1Oo=
	</data>
</dict>
</plist>
