<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	fHQvobV/x1gC+dMZNQQrf6RdV/ILdczWbm2OmQxmcNdHOzDfQ1BTQ90J3pG5SMP7sxfV
	K1V6SqSKugvz2L2TaKKjJ8JnaenfJjbSrJmaNjQ4BYOO34PkLhLC5bRiUgijZ+MvohrV
	eD9oAH77kIehdDbRt7OaDI4vjDhuMVbNz30=
	</data>
</dict>
</plist>
