<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	TQaVBTSYPp5dAmopIcaWxi8oxhCKUXHwlU3N3hMfGahWgYWd+aIqtryAtOd0DubxFT1M
	4mAkiW6rio28j8gR/qBoTEnY6m0YI2B/oCwI9CZUnodv8HcHyC+NbJI8I9QwolEGiRoZ
	KBp4UKJEr8/Sd2lS4Zpph0XrhgHnYKSHqLw=
	</data>
</dict>
</plist>
