<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	SvqL3p6sDtAhkfHp8Nm6gNBvi+a0jn2yOSv6L+VdKctZhUl4V+uOTpbHDpWbSsuM0z9x
	23O+pKykPEM/yVH9ltetjx1lfyet04y275D9EghE3Z0pprEdKkN91+epKITtnvwhpoNK
	uGPR22TPcykhy9hYZ3CIRkEayC2xlG+Yrzg=
	</data>
</dict>
</plist>
