<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	T9lhr+jhDFv0H7LqcbjP8sKPJpqlaF5nzLhdlIQGicSadTxpjC8wZUKuda69bNPU0Jqe
	iOnveaKUNl0xmeTw0xAi9CZkQ1p4Oob9ts95GZgXZJPpFoPKQTGVhgGJ1L6GZbvmsuw4
	MUQhd6Vi64t5b8iuJkqZvpN9YJ6b1hptS44=
	</data>
</dict>
</plist>
