<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	cMbHukFBgJCcytoA5yycHQDO7LWYpLdQOcldozuhw6TQb+NQ7QJQ3jARYwncgc0DzuUU
	nV4RyTiT/RfmAypGZpoeUzcsWz9H55hUS6++Ftmm84izNEabwpA+d3K3ZCTYiZ/+dGOD
	ykcinyzRrQuAnYcSfjoPQdwc3s0SfEgg4Xc=
	</data>
</dict>
</plist>
