<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	lAjVVWdB1HVwuXBG1qng+TPo52XzfMOqYZHYFQI4BqBwMI73lkeFLhodSbFNMz7pgI5e
	JAJKgKcNzbC3RSGek9fmD0WGuXMCg+y54GESJSrwXO/kB7dBU7ehuGcePhbY/PD3SRWp
	SQQBIKfJNbI6K2x0J0eHShvi2a67f4GpJqA=
	</data>
</dict>
</plist>
