<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	HYRD6BkZjHQdUaOc75qeDQTLxj2lCtzCxO5OmeIBFNvsc1tVLskkS6hGmns0A7dsQy2F
	ant3VjJiJihhi4+JZkAJ7SpWUxVCH4OdqZqFnEgWONQU9/jnMfAKXOLbWzFYmGuq6dsU
	NnYgv++eXf320aK8ljtMnGyjt2ABGnrPQI4=
	</data>
</dict>
</plist>
