<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	tOBp2phuvvV527iy8q9mK/mgOeFDkSZeIB+Al4xwT0IB7XIUSZxyoqD+WOCrR9Q6DCe/
	3sVE8W1e5LkxJvTMH/6on03vtVZ/I1eCvfJNjXHEvxGUUia2Xmzgxe/4Lhj83wpsJkE6
	gDDuL6mq5WGi1SyFziC6CgdZFn5Rrz5JXTA=
	</data>
</dict>
</plist>
