<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	h6dx4LVEJLhfVGUSZXXJOtUnk+8uFCKzk6TmIgY7FU3lod8ChOQPQkL+aqQ0HPt6tjbp
	w4sFXnMz8VwqxA8Js3jLnHVAhNjUgGY81v5IHSxDMuNpRqIb1TTFc8easJ998kd68hoW
	hcKe9gyH6wopXsiDq82ZYvKWOgRCiXkP58g=
	</data>
</dict>
</plist>
