<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	Zjq7WVXz1Kf5/Lume31l92B6VPAZY98SI3ZkIBd819ANe2fw0x627xccpbQWqeDotoZh
	jgYHau6R5i849sp0N5sDSTcEaowCm1E+udHvVK8Br36CjRbqC3paJAWVP5ftTtQRpVPM
	Zn25cHoYImQBPVMCVjhIOy6cWpInmWUAO6c=
	</data>
</dict>
</plist>
