<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	YTfFpp4/ys34/CZNbXiWbTDyw4ONbUbxHhc5zA/7tfQJEClIqh76MQGDrVpDZWwNyEJM
	EqvBDLjAumrzqT7ebgHhcLc8XKStcLq1dn1snCKl5Cwl1C6L8tGFpL9QYZg7bI5/VO1W
	PWSjbs4bXjudV/b5XUtBAtCgcW+8cE2Ed0E=
	</data>
</dict>
</plist>
