<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	jsnpAFy9MoDFQ+PmYEWvcX8I12Z0YdFyLJYcGEtLJkmmDPsSb2QoJogiImlmaXTGDf5W
	4SRphLkyZDGdxZF0MV43CZajZPL9/RwTDfJPJLQ68fxnpMSO4lJnggy73PFf13qroRNC
	58Ff2v97LJebWrnARgV9zHJ8Ks+H1egKhNU=
	</data>
</dict>
</plist>
