<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	GW/L9aMeo1lVHs7IwqJCFdCBYiZFWYMkgKgljrJw59Xr4ZYaTj/1o5P0Vs/rkTdWa2l5
	PfRX5Tyep8ogE6oy5hEVHrfz+rMCALux9dzz6ze/m5v19ky2HLbIrZUL3tqDIBNzV9/L
	mOr9g36YD43iYOc33KLaqGdOsPA51UhnUpE=
	</data>
</dict>
</plist>
