<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	TwrAI/OCOA+CJYMesGg4/H8zXl7vDXehGfvqJyURWcNugDoiJwsa4UeqKPXAC2Ioka2x
	tjL+STqvhB6/bmMSnMkv4Y3zODC0ze4EhxyVLvl0j3z0vIOVcUMuZ6P/GSTZeMjJY56a
	oTGSezV8VEaHECw3FIJ4wQPiARG2l+kTluk=
	</data>
</dict>
</plist>
