<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	wHnEVIaa3eV2jjVJoBy8kQqaH4Hn6pCCQxcNIDBaOUg35jFdjvF0rKWi0ERHpIsUus9T
	pORYYj5QLPkoEWKVdNIyi+267a0vKzViIQJW6pshfXfso0lr/jSui3URknkdV9BdYWpv
	BrLmWi+qTSGI1mijZ7kBeRzQELm4KL2AhyU=
	</data>
</dict>
</plist>
