<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	ny26gf6pqyEpxrVQx2tK4V8yVYyviaLzwOtIoIJDK3qaYqaicL6yFjEvWM4PmRDqvL5n
	NDn6+FykXNy+icMHVzJ/8TeoIM4f9lps4m1nx0SevunnuvPc7GO0XQfIgVHfgtpnlnGu
	lznS0vXIQaWr5viqjzDLKTv8z8G8h9pCHY8=
	</data>
</dict>
</plist>
