<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	NAXx0xgXmTtrcpOG/X/Fd4gg5Hzesw0MtW1g3zcWg8wfUChNfgmwHY0DS+w6MlkZxnhK
	mXD+xrYUMgijFWSeMLSXJm/p8EpQbup8ckB5QOdRkWPBkn2AMAS1+AMLR2iPdk7T3Vzl
	iwb4xpXxEzJRwyCNeKkvu6SyUSSy+KO6naQ=
	</data>
</dict>
</plist>
