<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	TN7EoA8KRjZP39tUNGtbFFNz6C4EtWpCFxxsguRNBmI7HLg1Ze/54rFuAqFgjXT8e/cB
	xcltjq3r9RDAzpoh1LtYF7NjN3q4fu9wgyYYR5IHIp5ZJCydC1+R+dkveL8MbenISI8e
	G6sOVRs3JTqtzqZdlUW+HgbzBVg+L3WF0Lw=
	</data>
</dict>
</plist>
