<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	CPow6anH71X8JLjgX9SGrX0HWYxl/IvmxxamHMNGaPG/9H2aZn9uwxnBG2xfejaADrIN
	Gi5jAI2UZ0VRPTyPZUtTrBN6AKuwIlmcL3WpdQVLsCLLFpU6IU5ZNoRI4RhyTq7j3kK/
	S/g2zyPbKXr2XdHsTAHCRqTRDeu+1ldQnOM=
	</data>
</dict>
</plist>
