<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	D4T3Y2NIghOP///+d76rh8wwVLrI/MOJ/tI1W+fybvnvS5hDApNxDIcLUn8ZstJmuhRw
	ctwlc+gHe5Lo4UVDxjpHRzgHdrYD9HDNsorlkAa5vSR9UUx+WB7hVM62pYbu6XTaWnWr
	2wg/zWbMmva7Ss5ZPkofTUmdk28pbHu006w=
	</data>
</dict>
</plist>
