<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	AKZvimxclaybNqntiM3i53KUg73VqsXKKu6ZU9+JDf5uj8CnVVzrD2BnAUSZnTYo9UYO
	Mdc/ahos1G5rh6XyUVPgUdrM4GA+q+qtaAGLVvHoVsJl2uH0KgFdNbUblZzLJRrkWa/a
	YgCF5CQDtlPje+me5z0QEGQciEKvLJ4kohw=
	</data>
</dict>
</plist>
