<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	Ji2BpQaca6BQoRmc5/pJFq9Es3PX6LYjki8r0IX2anRnfqE5tkdU2tXMAK+5uhMFOLFz
	5fxrP3OXDWvtEhWnz60BxMZVsAZDj18JFuxx++lkCXsRcK9owjRfwAzQ2ju0h74adDAR
	zwQWOpcMMfteviSvOXdRemY28Udvx3Bv5g4=
	</data>
</dict>
</plist>
