<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	vDtnGLFx8McGh8i2I9nGKw57pC+sOamm4niUU+lnpZfHj+SBG0vYjijGuawAO7mQsmw+
	Hy2vshF1kCsG4/TawNMsBiWvyckwb6y5FORUZM8H+SU5KdPYTNyIvTkcmR6dt+vRVF3j
	r16I4otnXutfZVPkcn1XUgHGeNneol9j3+A=
	</data>
</dict>
</plist>
