<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	EauVQ5cL9b02g29LJVQw8DpMYATh+g27DtWwgi/XHhhDPf04CvNz18/JBJDVrVyaWfuu
	xrxKtFwR0U9JaLv2atAh9p43ekEkoqFVKkSO9SHqewE7r9CWMXJzthLQhhNM+Vg0RKKe
	gwj+taKBVDS6bxcsSfJRh4omSRfyA/dZ5LM=
	</data>
</dict>
</plist>
