<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	HOlIQoFZTsdCRvGMEJkfn2Qhg69cyD9Uee0wNgKh0EiWNP9WGVyh52W9Aj6nSYyKIfBT
	x5m1Ncc4payPVFwyf657LXvbG7YQ+sWZwAwHi62WdG1tv226SeEc+tsFI13VpCkQfy/6
	gaspZAsYr8j9UDk3FvdNunJTtSs1Dk4ZZO0=
	</data>
</dict>
</plist>
