<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	RhwM2CUDT27xAeh+EAHaQAmCsDZmYq0cfIm7yPOCXHABMoqn/mmNLARIxXSNsL0MjI/u
	n6reaLF/QYQtvsL6dffXTwWNxVdYiMxr2K26snwOzU1L49wJaoX/V+ynODmZmhlKu9LI
	h5D7YPGBSPP2ODECTgSwR22iNqeGD71XIkU=
	</data>
</dict>
</plist>
