<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	TIQPKQoXqNMbnl3EGrmmv0QuyJ/X4vT36reGp4zk8s0hApuzFSgi2UaYcP262NKg/24X
	jSRU22EWpf5iQ3j22boJiseH/KCQtZuh8RcpKgaE+GDEXYmk9KPp3abAHcUcsUY+8Ore
	K5ntb2jRev5s4xNKNpwfmmuj0WTgXGm9om8=
	</data>
</dict>
</plist>
