<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	v1y+0jgeUwHXmALNQYB2ys+riMiEJX1S4Y1fFDC369EDTB42fSQfl7X6ohF7+oHGCWCs
	tBZ/CndJ0O6/y7VRODgQgx7xW8FX+uEEG00paDrB4NBuw6CGhCcYIcyYGzLT4PmCrchu
	ljpfK/VypYbuvc9Hpw5RuuVml4/pPdcluNA=
	</data>
</dict>
</plist>
