<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	FGqvjodJZ5r+eP5ALiPO5WrIgXzo4U+RmLBHxLkf8OtGekGeFSY5nGRkKzY1ZWKZxu0p
	94UkUuQreyaAIGZl/ko/J6Jt4XK7th6SA4pA7SFcPiMWLDa84Vli6ZZromVrAMt3qoUE
	EwD9deAuHR5dSUdk3dGNCsPwrtR/wwxCAzI=
	</data>
</dict>
</plist>
