<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	BG3kYNCJ1E4T9SXu275baiphVCqqOlpIrMG1d/iPk59wfSX1IczRWJRo2MC+BiGXuaXm
	Gdw7iVSK3yTmQ/qFnOYThyE6FbbcUNOVEpdEHpYLzbbZWLBBmhuIDq6RwVcIyCftEpv/
	n7P8HpQoqhRzPuqENpUZK5aMrFSY7V6sk8A=
	</data>
</dict>
</plist>
