<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	iZAFoUyVrhUFga7KwvhRu3FDx4ew0YMLg379vB2nBF2M1cT9q1iwGeAnGDjZT1nZ4tKf
	bqn65qFj/QtiSUsDshnRFHHovpoTPuZYl+A7f8jHSpPUwh1kv8iN7tT3ARgRHErf3ENE
	euePlLs4uJxPBWEvjo3bB+XcXZXlTE49GDc=
	</data>
</dict>
</plist>
