<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	U/WOD0fLYMIo1Fqiu57ftQSRDhRcntooZP1j4rRMfxy5904J1Z/+aFjCvIwts0XLnZ9U
	xhQmlMhgHp8XH6oq99imwJDalMo3xPjLFYykRKvwq9JBkfqGP9YVRJxVvqPfHiX89g30
	pLbSbdxyPe/9KOgaBzYCoZPtU+JajJDQm1Y=
	</data>
</dict>
</plist>
