<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	E8nGQSbH9DQ2xSsijqKywCSJKKKtTQrF5EbwYJtL/Rtmj+vhlJFqimbxEZxnOe0y717h
	lcgCii3/UtGhoeImpQh6aW8cJMnFfdz9vzEWjzHcZNaxCwoLZGO7fyVVr4jIYA8JrgEI
	GGJ/EVWMmJA3GEOZ+ZuXsxu+p6+IOR7g/2I=
	</data>
</dict>
</plist>
