<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	Q0rSi8LGo5kt75wUmTOmbunzTs2wWRcQdtYHlZDG02TimPuhBpIiuwSe9aFgT3TZcBvT
	ZhPxHyYi7zWWc+Qy51RK098vl2fzK7bej0RxhUvRg2SqZZMGJCDTbnUOV1kP3G90YHZU
	9wl4uJ9TtlLDCZpDxfw6QZGzj4PiW528z/g=
	</data>
</dict>
</plist>
