<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	Xt7FP8iDCQtdWSb6T+lgtjAY4Aq+CrpMyxwLyyCztHSEYm2CvxKut4pcQgWTM4x6prNx
	ztN8QdPDSsfFGkB4tH297F3xU7kQozI20X/Dnoef622e52OA4h9ie/femF1nR5Gy5R8W
	+vP2tg3iZhVcnP1lGwn0qGqAjMsKQDxz3ig=
	</data>
</dict>
</plist>
