<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	G+0/1FO+9pTRptvavrJG/vdTVW3SbcASxDFFeTqIc6FFFp+4Nrh/Tw7qAaHRghG17TWS
	9cPiVSz49crDLPVN3N83/ciNy0oPbeQEquJDd6Wo2Druod7N9kl7ZUNKAOcR5GuOSLj4
	wSEdK9k7SkM9RvYbus4NelEBsUaZP70Hqg4=
	</data>
</dict>
</plist>
