<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	M6iWaan+AzKCnj2i8dx5UictuXFDC+KFfIU8btPGi7mxjj1dRIgwoPl+OxbNnSGgUd5V
	x5vR9TIBPWDIBZiXF9a3E83r06Pau6GM4DSYCJsiVaVST1zaq5baMkqNi6uC3sSJX/Vr
	+DlIYWVpT+e5W5mdguO4DCGB7tiJnN4V3ig=
	</data>
</dict>
</plist>
