<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	q9d/w4RVzh//7IAgr5xZ/9HpFPjBSeQsAGZTlkYyDZhHJyCI3laeNmhSzbs9UXDvWVFk
	Wb1C3fdc7OA1uTGNZzNiaARlcLLKrafaurUp+/F31ykpsTgfBZ6QC4TEr//h8wyJf+so
	NQUr4nvOT5VaNBJKjkVSRmsClLoGqdov3HA=
	</data>
</dict>
</plist>
