<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	P8be44yoHMV/YIcrf6EtX/fgLIrztJJ+ci+BQwfvScNejlftks4Kiz6Y+Apqz23di/1m
	FFCef0izePdTgR0MI9eIA9oolDuc3kC16ilKls7vM2BIXWzA0+JUifHqOt2zhAu8qJn8
	TRMaDZn7048mkNsDnIISSDemcE5W4ffn/TE=
	</data>
</dict>
</plist>
