<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	r5shL0R6aIPwzW7b8wYC00GMgMJs/5A2H2+n4l1hR5nmZThQYNZcaoomtU6Mtg3tYkeC
	Oti2uHhH/tlaNS3H4w1Bzp9PTpobzplcquSuegaYSl01jmbM0Wtwg8O9aX8WU+q+1h7W
	49ekh6EZQIEd7HbzPnIJ6kJ7TgXj0FCI1RA=
	</data>
</dict>
</plist>
