<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	KuOUqMU7YaCQRKLmXNteWvdEfG87NCAKY0HYOToDl2+2rNnBH7HdwMeTz3L9PC4TseWs
	OHeoFjgmFaz3bXmQvnDjAmj8ey1sMe7HNFoxTpWse3YgLrWv4wBIFZC9J3h3ETkqHR+k
	aQ8bbGnC+xPR8toF+oKFJjcd4aJUwlqcP78=
	</data>
</dict>
</plist>
