<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	LVCyXQuShRj9mG8eq3cEg0jlzBA/USoNE2QLdJ82h/FH1GcwOErQM66Z1wX8G+Dagf5S
	oAVwKzD8IFthyWe3xp4DE7SnPgG9slDvmmvovtSBRQSZBBrkXp899Xvh+qWsEomMFUI2
	rgBr8AGgCWCftNxENE2nx2j5B0oRy7HVSr8=
	</data>
</dict>
</plist>
