<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	QYTgEdzJFuEWRroBHHEfs5k1XhQ3wE+TV1M3hHvR4aTimGxwy32ggaS64KokRm4tflgo
	qcj/wOhT1ZzIft8ZTbgqSm+L0rLftUtbrKpefhC7YDSg6CRi0XPhQT3HfGZbk4KPPxEQ
	WQrU1dAr8p0dQlceuj5V92I2bqxnM55Tqzc=
	</data>
</dict>
</plist>
