<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	BxIM6EJopipkClevGQPKB+ZqW7B3QBewf2JnOpfDQI/AsMG4p5KDJfVLkydSg1iHZR8n
	rhJdiqjL3NA3Z/EOYWaxWlzp2XHP6IsZDrZjR+UdtEUhhB6nn9rHNJ4Yf7EUe6IP5bcD
	rQLNS3J109no6KhQNy7H5/rcETxVeMgvlcI=
	</data>
</dict>
</plist>
