<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	SnQ46fX6qKg/0wzoujjFQ7HNcUF8llx0aLOOLOmwHyXgyFHEtJbYMzH8H4bEQpj0tzzP
	9TQjaLa0C8EyRcuGLl4FGImv1WaGm7Af1zODxaVAfklTebYXu9Zfuh4FwlrQNjb7Ei9d
	gZ14PSiw+/DmTDTxcPgT+MTD+re0cVayaVg=
	</data>
</dict>
</plist>
