<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	CSAOFJdTNe2rAxjX1Mz9jjPX4DMZyokI9se/6kxPwaDHBozcykP/WUiNvoDGXQA5ocy0
	hUsXmRmOayt/RBru0cWbUGDZhDPgAVKhmY1m3QPb19bfO6dfTtgFkQPZYyNoMD714xGG
	pAitzMXbM3OMoZu1qgqoEVurofn0lsXyYg8=
	</data>
</dict>
</plist>
