<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	IFjpBNuuWXDs8Qh+uTdLB4Z21wDbLA74WhAj5FMZOkSD+YSl6CfQHMUWonBgpGZKAzA+
	jY6TCpX5Ja0iXuz70ZNOKQpE6Jl6VMgnRY6bqMa3zhsBqIfFFUhSsQh3j4s957TmA1gA
	0OjEbxnFHvOt6R3XwK1pXDv8ziNQHGrFHNY=
	</data>
</dict>
</plist>
