<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	cia/Zc/7dIKiigm7KHv9IKaTlAzPx4OTuR1kUKKJP3neZMKBFBh0eLmh8kDOW2fgbumW
	/lEikCottW2aa2PNlAKVtelTACaw390VyRlnxVI9Pfp+x0sVLZIRC1AIfPuBNtgwrwPV
	tAzGMSEzGdOdDP+umixHdHcB/lReuRUscfU=
	</data>
</dict>
</plist>
