<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	FsQVktjMaLwRmIyKuFcaglZZESgMuVIaNFxWob2Y6IVylvF1ClP6w9gxw1SUDDfbAf5E
	0CHNoeJB92ArgWerkYfCAAAAmdpXLExrwCLyE27pwslw9i4gJUmVAuxZeymr5WmO/w+E
	OrFCyxa2YL6gcMB9Wn6RWLGhtkw/rnkglyU=
	</data>
</dict>
</plist>
