<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	LZ2kFvhM19ZtsQnwpmpJ51cPXzZ4wupL8l/H8nnGRIKo99inBnPkcRdrXSDGxIAld7ll
	ZgoifsvbR+TNf7/TxqnpI0p7HxWJToRATqaOvR+IhqONGYeS0R/B+qLIMS1aP38aVWT5
	NxQrZrH23CURguCNv4+vslOtE5rsSYbazVU=
	</data>
</dict>
</plist>
