<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	WyX07YFmURuXu7k0ZhwOzrennscZXucSZVwJy86O8PW6QHrdmifFhuqTM40nBcc0/uhq
	oss31uVciInBpZqlIp+bz3sd9qB/TWlyNw7fIhNCbgSzTZiGoH6lvQHlWoCTpGaaRJgc
	XqP7zCxJ1sVgBcc6Z2AMFOva7WXZPHHwAOk=
	</data>
</dict>
</plist>
