<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	UihCYAhJ47BBgpd0ADeV7+HMz8Axd1kX0fL6p3rsVLje2iwwBtVHHSZYN7UZhph2DZaH
	/tD0eGMVAKE2GD4oTGQwwc0pcG8yrNOkJcXcWfzvU/7DUDovSG8KNQLalnRbQKc/A3GQ
	dn0HTimEeMPy3zA6OJx16VZSAk1CKkzve3g=
	</data>
</dict>
</plist>
