<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	gdqr52upZdAOEP5NCfvkEZQmiYsQJZTEcA8E0ThCxZecYzl+6hGRTs+h4ZbJauDc2v3X
	X3j6TLcKdv+WPNAxmg8hH+SrEHBRBdQrcI3R3zKbAMI1NLouxW8nTkSjySSM2dAqLf60
	eoh3l1FyC3E22qmjQVfEG4wcMRbxFj0vuWc=
	</data>
</dict>
</plist>
