<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	VX1lnwXc7iOc51tgk3ktVReqCl4bOFvjdhh5V4wBRBMnwdnAKT7kDr76pFagbHaJ+V8q
	gNRo6wgrPArxbV0C/44E+p/GYkvjPhnLYmmA9yYmUSL5hqTfcl+8o8k5dcQJzUoarJHH
	aFQLQkruGtg7/VA14AF3q0PaxggAM5YCbCc=
	</data>
</dict>
</plist>
