<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	HiQ1DJjjKClhEEeGLM9iOJMaI4FI3sDFg43PeCGMTDMFgCS9N4XSCslvozv2buINpm9V
	Y3CBRsplsG5vLdtBaHiwp503JPXW+yUZwGP/hU8H6/D/K0gKP/bOx0LqDlYo47EK4ZOF
	8Pg6HR+23ZG8zV+WTv+O2wK9ZQtDK/gz7hM=
	</data>
</dict>
</plist>
