<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	jLT8dDVhZKLGW/ZuYnDOPhVCfIE3kVUhaZbECfbeGqjzjkXVdjgeut5fBX8QJtBt3s7p
	7xugmMCcXb8E6NcxWqbaojnIkm1nJ/9Jo41xDmrJSc+f8osNovx3Z9LpSRPEZ35hVCup
	RmMTDvLaNMcS3BZPsLnpOBqXc9pycDKZSI4=
	</data>
</dict>
</plist>
