<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	aMNn3bCFbM/1TeSibH+k+QvjmgJoUcMcn9MnWH530CwIUEK5Q+uwFLjsYy5PYoI/ntWe
	jjGfqz5CulXA3CdgcbIs69cRLdHtqux0LC93vf0owogK3l5oDii99bXZhYOYbzxvzoyA
	ZAZoyXqQaHuj7RM9w1x5i9Sjo9Aes23gyZw=
	</data>
</dict>
</plist>
