<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	W+c/CTHXaEjpGnkG66etjcwpTnh3Ine9BT3nNa6SlV7P7Civ5ZuOmK2/19r2lX9oIQdB
	bMzJY/GL3vjhzI/oNkFBKdHkEyG9be6KyWcIOqHL74cSnBrJUTPap8lcW7SgsiIXzlSR
	1DquWnfc67n5HINAfr5+TkJTzw5i7LtSMI0=
	</data>
</dict>
</plist>
