<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	imdn2UmQcICPOLvrOOGHW8DFMVvawK+CcfTCog9Uw4RoZpCKS89THQL2VlcsiNHNG1cQ
	nuOMsE8YnUtPuvX5h3uXZm+ClcB+O7HrM+du9eZE/sokGG7I80P9LFQ514oQuoWtYOZ6
	nTCHGKvOVLXiGbUz3cYkUTQuoDdaPZmNHis=
	</data>
</dict>
</plist>
