<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	r7IjdkCQe62QNQ6BL5Nfa1S0KnnMGDnDyiOUNL4v8XH+ev2zpTxW+XHIOfXycW6SGRdB
	6Zt3rWnmAO8KYFtqe1v4p3QIGO7Qr/DFhESzWLOstWtj8mnBf4h158FAGoYVACE7kQk6
	WovvnedhoStpdFO1gQKuR9mlyC1UoXC8rTw=
	</data>
</dict>
</plist>
