<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	EqIHFfSA/UjooFpw7q8waDHiXb33/3xzmTijcDoNwJdpQaWIoVxz8ojmTbTjiqMOym7c
	qfiDNTD+BascuSrdwM0LBhJpH1g++oepY3iP3K1dhhq8v00tsW9Xs3PoB2DqyDP17g3f
	KanWAt0sX88t4Vom/UA/lhk4ZYxUoG6NWRg=
	</data>
</dict>
</plist>
