<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	LJzc1XjcHzouUQne0QM/3MbqcrXJBkcBRXb4q2rpzcAV6jLsnmA08QarzZ4IXY50ho61
	9iBVps619f/TragMEoALAW40T05o/llfQ3j4znmYcoqD8ydKiCYoslZ6eeQA47Kcrn7v
	CrADIvO9bhs3QrTqU1X/z6DfuNUk32VMPbI=
	</data>
</dict>
</plist>
