<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	bdBHOmglEsQk+ZkMWYnFZM1IZ3QRbtV1Ttqdj5HkTYagg+Ljxm5pSecs78J1G0dD9yQ8
	h9bHA/nvnPuC9C9xSlX6/V5EtrKp+65lwIc9ufzkq4UdHWHJyJXFd0d8PVBxFdxcJrr0
	UwOKLGdPWKNMGk7+LXIvwNe8f88nYdViQaE=
	</data>
</dict>
</plist>
