<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	OHzCmIYGWWPdE12voYXgMOF8uYVqp4t6xfjMwwEQH7T2XW7yz0u/jIx6GuhjQ3aZRfuS
	aaxR2/H8QTlKVJlGPJdX0xh4LP2mD5zWgR32kARm28nXV8lipD5vuvRhbFXQJBH+2IAW
	7QNAQy+MnpsNCZWThfXzNbGBD5Vx+6cuGT8=
	</data>
</dict>
</plist>
