<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	XPNDX5BhnqzP5kCeE/20HTOEGGDQAaYGFtnJ31NLP/JATv4LloG81d5hkKVPdP5Efucz
	4Cssi6ZK8oVtyZNzo4HxGsSJmiCKcnYWOsiNYsKXu548j18hRnv4tR8lT2h/t9TATEsf
	dXe/D1Yfh4tDI0Wf75heB9Qe7FH6j++JAAY=
	</data>
</dict>
</plist>
