<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	cIfoWRSv+w3tKZf3Chpxw2hvLSariv0QEBOxqsVdf4xJhhoWMK2knpvFBCKVmNmTTE1O
	/6HCieFQwQCABz6jvxDa/pOIPtFyRU+gF64HfP/pvbHdH3pm5gf04NTKsXFaux1uSr+U
	+hsJyEcIGwqJvYxV3l2KxMZnD+9zj0dxFvY=
	</data>
</dict>
</plist>
