<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	X81dnvHyLGrF6pfjz3kKuyJGismp4JJ5gnCmX1v3dVLIsAmEwWO/okcl8bzYc2jfX3gx
	fiv6V/c16UCDpTO5LqQwrMFO6+0XdpRPFW2RgjSCt+/gZKH2ZkPn6Aa1uer/iLkJZ/IL
	5EQvepOkHQy4Dp/5/uKMsSfTC0dl8JEGecY=
	</data>
</dict>
</plist>
