<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	s3gi2IR1oO8hWKo+t/rVkn/2LbwYhWNkXxJdGrq6kzErAR7+oS3+u81iRUQObfd81o7o
	h1aWSYJBsGp29oPrlHm4/T3uylUJuwO9v6dMbIPpszhNhW16xlRAL9ysIcM5uNdsHOI5
	ujrOVm+zL7KH185IJQ7Zs0nllISjpISCEJE=
	</data>
</dict>
</plist>
