<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	JBsu2OmDFSafPNy4b0DOW8noLvaUWIa5haf9lRWr1548lFkat0wp5XT2ze+UtvComIYJ
	4SdQFVNiWJwns9s0Clc4EhpwBvVB8ENr6ThwXjCdBZXd0w4ZaicZmE9QSWlicO5kgqu1
	QOREAakv4yGR+n9Y8yqKB0U5VwXmVPP3WCc=
	</data>
</dict>
</plist>
