<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	mghRMD0oy9MP6iIOVY70aqR18h1icjeUkVdnxVE/EOIACvUoh5L2eaUZaxWusvNXYq/E
	myYe6h3i88TZQpvdZk7DEFwmwS2uzpUWYzX/TF9N5qO+D1OfPhQFCsJfSakUNB9IywdH
	1Lr1VNEKYsg0R61WkzSAd9EQerIiCHxBk7Q=
	</data>
</dict>
</plist>
