<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	V5jdLrltixSivkkcb47PznPOtsSNqGtZZEQn6uisS09EhiBBFrQXF7t1ZH4x0Wx3JE34
	AXu+OG1ljYcOoysrMIMyzFHDwGWd/mNDTIe/0FO+8NSEOZlRN1Ydo2zDQPj6/praF1pn
	fVc8IHloJR9rcirDjrSvr4LyYLyFHgPrQ9M=
	</data>
</dict>
</plist>
