<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	RKNgRHhQB7Sa8hYr+apcTkgITMMlRRYYHxLoQ6y3LCbgLiGMNBxhLSPVrTCl9gQWOvWb
	FIwAiev3hqL73Ao6SJYx1C/Nr33nDDQ8RW00qkbHs1QHASH6xjuf45KO7KrUe5v2Bc5X
	pGro+dAbWz+HalulGQUtaAtX8vXATFr3kYU=
	</data>
</dict>
</plist>
