<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	qDXQ3UjGbj7b0M1aO8JQpxiluY1BirY33sV/qGlkbmYM9bUtUcZZbRaCzUAa32N00n+c
	nsNexJXLQVO+9XWk27zfH/cX9ZXde5IvL7F1YTCZNJjIh35ZCr/yQP/D1mIb6b4fMBKB
	N/opYvbLGygB09GQ/7Fk9+3RAk4KQWpPQm0=
	</data>
</dict>
</plist>
