<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	fZku0k6F7aBci/0AB6QdqiSzXB/p9GrDVC5r+pfKz4X8WkAr9nweGOKwD0ug7vq3CI6N
	WfNFiMiYVTiT4sxLtKNZ0g802b2dGFO8CoDsaH0ZbHXxwY6XmWv9Gxugi8SiILbfECiv
	prFwwjVd9wQVk4qW6ioikQMzk7tFltHlbzs=
	</data>
</dict>
</plist>
