<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	HxvAKfoYshOaKVXprQ25V7QCvnCtc4SCHWJcvslaf63klbmalDf4dXjjmHtX0phzJ7Vv
	jeCMtCtDCqcUeWlxAutkZvUdEiTT0nGxviLHgZd/cFodCouFXQZoYzZm3sEr7PTEOo39
	5EUAijmBjtfPbmK1GnNP/Vvuh1tD9Qc1mQw=
	</data>
</dict>
</plist>
