<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	S1BWIfZx3WxnrVDemLGyXlqe41uS/NlkhQvQQXsaRi9eJhjKR9z25EPmqb10puyppJ44
	hLn+BV73M9OnuTgrr42Qa/yJZPf9uJ6FrflVNIMrOj059b/f/aXZoqhQwhleBt/cqcN5
	dZYRLBtt5yFQzBNPaSb33qENfFpEBY0jMls=
	</data>
</dict>
</plist>
