<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	U/t4DWDuxwKLnVtArkkSyMTmtjqXr2GGZ8CAzwsnLmYRKP7jRJqPlM311W0quMQv25PG
	zAZi1eyi9jvvNA5C6LcwEFBUhk/43DO1Uvz9NSxBITA9hBrJZoh0iEGFZZNAMsPSelPw
	Bx0wNw14I2Fu0FpVYNsPncONTrFO3c68b7k=
	</data>
</dict>
</plist>
