<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	ULJtp2xEkc7BtDWqt+10cSNlXJfWhmk9IYVxXX1nRiZeHm9XL8O9dLijQdRmPTlV4UmQ
	ObMm1E1Y7TfA3z4Zw9n/+gD7cu1MhZdJY7byj4O91g3Ck0rF4qryTcw7FcXWHUxvCqE0
	MLEJ7vf5rDdK0HMZpONNzaGVf5AiHl37/94=
	</data>
</dict>
</plist>
