<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	PN/+oxO+A5TIXIyVBxhWycHesQ9TKL1ybG9kIx2l9ovjcQ9IiKCdtVAFbRZhOB+9jsT7
	e0qRtxuj8p/i8LfHne8BbWJEbJKyTYmRVdE92Vhk3CfP9VLk9bscnFuM8VJD4jj9AJfn
	njT+bt8uoM0sg/JPXoL1jx1rBb04MJpM0LY=
	</data>
</dict>
</plist>
