<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	i9DW6KAg0/6AH8C7RtfRG4vf9YON2DGLZLS3ZOPgebplZWXRqErygQ2I216I349jUOBu
	5tbDlF3SUu8bgQ4LyHQZSLqpB+Doj1vf41CJB/D8zFDdodvVoubjt36Mz6LrrMrfPoEX
	EnTSFhKML152mWAQ2T4Aa+LeYlodbz41TaI=
	</data>
</dict>
</plist>
