<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	gmu4H8DbyAY4aASCcPVOODj3NQxPo74wln/D304EqN+5fv2LSuIG21S5wznLBmjDiLTD
	yASy9zfFu5ExOfe72cNrq2lwAw9PjwOENxXBxsu7NfDorhJbavV8BqhP8EJMgma/KI8U
	IWA6dPTEWsWcO2mVaMHqV3qRsxOZlarXMoI=
	</data>
</dict>
</plist>
