<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	ISV0Yr8h6paKLL6RBjBSDs5DAzDFIlu7eKvOp6SEIgnqy9a65ffO9ZuB7caUlDVLItMM
	+VSCbygaw6zmy426Xbi0crG3muuCXKOz/u9hkz5MhxKd3ta4PNDZMagTsy8y0FKXsrFy
	ZiDxU+7bpJvTtexVtcYzhghh3QM25Ekj3a8=
	</data>
</dict>
</plist>
