<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	Gjo8SjfMAGKG4Z1JEHx9MbLuV6JfLnwIQ4RB6NWxLteSmMAOHJ1Wk7WQUjCrJIITJm13
	iQlKKQ/eZmvO2W/Kv9fK74qdVxzfid+qjzKgDwHBYnR6nn/aCDUsGFZB/qByTSFNEFtk
	7C6VANEy6NIIq09kF0gikuTWDgIx+RvLofU=
	</data>
</dict>
</plist>
