<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	Td4Sm8AMjiz/pYdQwjysGNevj4EAhD3kO37lZ4p0NIb71/YtKjjcwBJVY5SbvXvFMJlh
	ZhO2pimbgSphFw3Gz5Z3vSLYfyQnubqo17rMehzBdhyXfUJusGFCOazCdEIdWdgev2T0
	QQXaI7VTJKCyflyEbiFG0nRi02g8btxso68=
	</data>
</dict>
</plist>
