<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	anKY7xciRqNxjnHCvVWwRzpEbUlB6zhoactbOZd1s8oVsJMZqb0/4n2kAzJzGgfc7NSv
	JhuI7+RyavoT1w3HrJfuNFbgCbdIijcOZRIdHnCOBd/faiMOjZKZXpLmBO1Jg+8DR8BJ
	mByf5336ktsycQ/mR3uL4hN3PpTgk/gQnX4=
	</data>
</dict>
</plist>
