<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	gXS3GmUVSDPWtiD3A2Appa8CnuEvLUSDexrbC+JN+gPc74sONYyEmKfYg68Tb4fXXc1X
	zVcnOLgCr1iBIcpsT+Fz+3B8mSxjFyHGL1DDSni6S0shnZ73htNc5VjrHjWU8uigvtoB
	ofvg5l+SoNU1E0zdGb4rS5Z7056IHj0+SVE=
	</data>
</dict>
</plist>
