<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	Oe9YgHUEfIEs1+50oXjYRifV+SVxoxokCWq4chwnmN2JIfvo4JiuWlrJ/HjoS/MOxcEn
	VF2EBrh2C02rhJd+GYnScT+l/TmYT72BH9A3Nirmsr+o0GcU1ltD6q1K3Xj+5j5OL8lR
	hE8QiRhj1DUks77iLQyfmMoYRLob9AvH5RE=
	</data>
</dict>
</plist>
