<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	H7nqMyiBNIhniqDQGDJGaN1DzfoL4t/C5dg7q7hdXAOwfyM/prH5Mkj6fmdzA6ecFLdb
	ejGgV5mpRjTlKGb4Ttx+5AwlZ5+VFLrVlea4uuDfX2QijpeuYqRRHxt4StJlTtnAQ6hi
	IBplv/QCd5b0HRirsR00MPKehsZwW4s3aPo=
	</data>
</dict>
</plist>
