<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	OP+ePSIfS1raqoj2hXNrG62vabzxdsbTcBZsK6BmznN9sIB3JOvksPdi2EGuzRRdfCLV
	ekCfvFVIdN8yKZIBgo8+48dZm5gS+ab8ZZqQP4EmKmeckColEnK/jYbdkxOQB1lS9dJi
	+l6k3LqAFWQ5hYhk7OaA4NCk353KKtFczjo=
	</data>
</dict>
</plist>
