<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	mfH8aCjmhb4Y+T2dPeP/HBxbcj2RFk7Lyxa7xPZ5nFN+tXdB6kLkhMSGHO3mrNcrrmWJ
	MY1ThgC9dJNQ8VuLHc1t2fBguYY/s5eCOCMKQw61p4xiqBMPcHzZ6IkyUHQrtvuCgBRb
	Ph6Y7TVFQAQQlgQ0y7sj0Ic3PpeS7JzXZhU=
	</data>
</dict>
</plist>
