<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	eQmxaSXjQ5WzO33jRQESkzENrPufXVGxaoJPddsIxroJ+7m7MPZh8ERS9nUk5INonWxR
	O4Tt/CDgCo/87yduqHq1b2puj6ZUgz4m47b/AiIqG/7QDyDd0/WPIw2IL6BDXrXRai5b
	GZr/4BGhLXyaPelUBVFr1fxrvI+mNgRFtRY=
	</data>
</dict>
</plist>
