<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	htYHKbT0KCKaUDMb4dniRFk6CS5BgKx11Uwm4W2bSWNTCXtVHXgLbx5o0ZoqN1FCBa3h
	tegmyN5INaxAfDElWWZSDkjCA4H8TjXpMM1wuGelR1nBasa+kEaviwFRB4pUpq0tFBhZ
	jO1FoEUj8XQk1sIhQK7F0s1gqEJ8EDmOc6g=
	</data>
</dict>
</plist>
