<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	ksrzbt5+fZWGcyy2iFzOsx7eX3pbBnIA1MmenxQeBCjbzw15vZvihaB6V2tso6YRG+Mk
	QFo5ZUK4txDa597yg8FmbxmV0zCSzQU4NIr7qP+TveIMRYckwcqE0pFlFyDAD2D8Fj1p
	fxhviKU+5qNk44NBCyWdxkJkDKB4r5eXSY8=
	</data>
</dict>
</plist>
