<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	oTQjigITEr6lSICJKWxbi90bsE4Z/BJEChIxePkGH+U+Ojj5ZG8GFFEwCbypuRXcS6vi
	LvIId8/j0z9m5UHpmfjcEex0mZueln/5JVlq/XggClQboZl1vuugyGo8MfFhGqwEOg5M
	PCFUXyMOOgL2Vm7FIAx2w8lC7fOIRs3NsWg=
	</data>
</dict>
</plist>
