<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	XMEpRWhIlDcwp5DVymM/TQlGU6RpP1eeF/lj5HLggmHWboUKYfXaFqo8mW4A/p7mxhSJ
	hUqtBvKIPBCFzDaXgwaq8b2wy1c8bXqabhgvrHsIaMCaQbfWzzPUa3d+qDZHkvggse/w
	MZy7BCsL7eBl8sR8v+K1jSvz6vXyzSzViwU=
	</data>
</dict>
</plist>
