<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	UHSxNZ+otLP472FUbWoVr+Pp5Bc85b+7dCVQWzdGGW9kiYKnT9a/ePHzg3jtmWanARI5
	xks7xZ/ipOsSSVpnqCHcvsZ3XODd0v5dsPNQvBjQpFDhqWXByUypFuhlwUkT5IAFri5y
	45RlBLPbHDIXEwKjFIfEZPRF9h0irLB9W84=
	</data>
</dict>
</plist>
