<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	khjMBaafz8k1ed30KQJsxS5BOTy7IwkOjqPWN1Mmq4Ti3XEkRlor2BHk2NObCn39dKd5
	JVz0wGNKRi5/W3DFIDBOSxgf+p6x6FPbJywdbDQa8OIBIfTpZ9PWVWVNiRF1tePFIURG
	tCogh9fOsvZDbyxupW9eMzfnI7cDKJEHgQQ=
	</data>
</dict>
</plist>
