<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	X76d1X6Olr581zKOdde7Q4DvHV5X+Hdfb9O3OC8Ci8pt2F6mRX2smmyjaNIikNaj7kgD
	5TKdaSVkVOUFdJtvqaC+mMFXO+QxD0uTGFaeEa5mkJ9wto9NKNnIOo+88mBtavUmC0io
	yeyj0CGd36KZhkMrGUZNBeRXIIjH5RN2+nk=
	</data>
</dict>
</plist>
