<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	GXSoyl2SVAYJntRDmfFgZtOYHjWwLnj9rPn+ccNa7KNNN+9kWpd1S4gSYnHMa+BBpZ+U
	KcnSbBcrYSAR0Q/DAAx2a1asyr6vdGC/qQRqa8deY43n4DDRB/6nMNdoJmBiNGANYl8f
	WhYKR/+zQbBChEG9EN27yBmqy1vWO7Zc1SQ=
	</data>
</dict>
</plist>
