<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	KZ1Msr4H7mcZdpfZSXF5cTmdTAVDe6c1KXzcb+KM2edh0HqSfMMXskInBcLbFeHCy6HJ
	0YMSAjuS8gELAcAxKLo2KiQ61pIiua7Ap4dAPasYE7YJAu5XbLIAtgY83brG1lGNRitl
	l7Xi3BFK8tpqs96r6jm/pot5DwfHX1GrHyI=
	</data>
</dict>
</plist>
