<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	LGnvQPp+zqIE4SeQt/wsGlzUWhXQYMW4xV7It/l8cOtyTZacrUujgiU4cO/yeUx8k8fa
	Ov1cYAm2eYKiIhVIQSUqPCuwaYbWoqrELKjXuRyZ2mODVaXFArD0ASP7mmxhw5x87l1z
	9fWP0moo5JNOElU44V7TsbaabG99ULfLvfQ=
	</data>
</dict>
</plist>
