<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	vYegs6GVZ6em6BLG8BrTSScxvL2rgBcMEw8m99Ec3u4vimLi7vXeAaIEvHX0v9DXDN4N
	LPv4596fnLaFwf7IepceGWeEzf9T0dNKwHZ76Qp9OxzieK91hajY5Yky2up3eho9DOfw
	GwcKvT1ankmpqMZE+olX7cBcy+w99gx2o9U=
	</data>
</dict>
</plist>
