<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	slmS8Maqu3xptwPoYnnqqCAzw5ngaUQd8WmsXjmwV4Oju9JHRufKr4g0ObMycNNNAya3
	nfo5aKpZ4pf2RCi//od/YLJiLmwvIURtlBa3u6HXDu+jqofP+vOUnN0GHRZEdw0iU5n6
	/VGeVKlw7u4Es7BA7AgBS/WPbgT+ldpAuVo=
	</data>
</dict>
</plist>
