<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	UP4Wixzg6Tftd7bkVk3vFDvCAtJbctygj8aWj35VletY3sawSgRRQUghq96dPAWBfSdr
	uEsYsd1mIlfcpTsYeIPHiRTPjmK5+16yW1fbUnqdn6JfzUfa6+1IVhxPoEFJ9w0xOvpL
	15N6/IdP3dRd1kusyw77KRvau+cJhhlBVbA=
	</data>
</dict>
</plist>
