<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	LECiwt+D6FpkKkFWQlhlTsgh0ujkR0WX6IPS+zfZPX8jU1AeymtnZicCKauzsYHOU5JT
	/A3++RXOfZZ1zUrV7YBzpo3BIEc67ink8EWMY9lVFjRKHCdduzqP1VDgStn9N4jllGru
	zL4xtWbGUknn0x9kmandSX7Y9nzgA7OeQdg=
	</data>
</dict>
</plist>
