<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	LKbx3Gcdl/P5t4UJ8S58qrjKLvCePZ1XfRL4TDmdse4xYw7cuMvV/GYFj9NVjDe8evnk
	TPtYq3TE+WvCcGLsk9Mog6cIcWo+JnNcaV0/fUeo4jRGLMAuyUlItzawbXbn3fK4qCM+
	X53Hwe08Th4QrLNzMNCrqAZ69t9Porr0JX0=
	</data>
</dict>
</plist>
