<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	Ao3jouB0PGpPNX/bYeikioomoDzjkxboQzxdFwuTp2lIexoNlfbZRg/0N4AaA3jXKua5
	6oiLPLlvJSJhPrVBYMqvWczgWwIPu1Gf6TyCSPBjMJCNSb5D77k9NtwPKr+LkvScHKkh
	RBaNCI19an41AhlnwokQDN5h7eo7fyx629s=
	</data>
</dict>
</plist>
