<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	hCm/4LambbpB9Z3GB50vdwNC0w0008A8KhNvysGzozFVT47Au0e8Q093Xl6uSZRmeJNN
	Hw/VATigyffInD3GObDJmHJM/ApvnxdGMnXIEJgJcNv6DKLI8SMLmpuMTDM5POW2xV3m
	zO9fiQUqyKMAibghSZSzDLnFh+sOuvh2y8Y=
	</data>
</dict>
</plist>
