<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	ovUVBXM8QcHY5YNYD1kSSx0D5gN8ZSFbpqFyPLLm4mPmhDHgfKQi6nRK2ORn0YQUwiq/
	BTGusJSLNeXevQ6M/cDJIOWl6iPmOdyd3lbf42nSrAPk5xR7Mnbp8eeA0/2rpoLgvTgy
	CK4KhgCuJgYzA1pBck38GmL9Nv4Sx4JWV4A=
	</data>
</dict>
</plist>
